* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4%;
  border-bottom: 0.5px solid #e4e4e6;
  align-items: center;
}
.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
}

.links ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.links ul li {
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #323538;
}

.submit {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
.submit div {
  margin-right: 10px;
  font-weight: bold;
  color: #0071ff;
}

.submit button {
  padding: 8px 12px;
  background-color: #0071ff;
  text-align: center;
  border-radius: 10px;
  border: none;
}
.submit button a {
  color: #ffffff;
  font-weight: bold;
}

.hero {
  height: 79vh;
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  text-align: center;
  border-bottom: 0.5px solid #e4e4e6;
}

.hero-copy {
  font-size: 2rem;
  font-weight: bolder;
  overflow: hidden;
}

.hero-copy h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #6a7076;
}
.mobile img {
  margin-top: 107px;
  width: 100vw;
  height: auto;
  offset-anchor: bottom;
}

.middle-section {
  display: flex;
  justify-content: space-around;
  padding: 60px 200px;
  gap: 1rem;
  align-items: center;
  border-bottom: 0.5px solid #e4e4e6;
}

.numbers {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.web-button-1,
.web-button-2,
.web-button-3,
.web-button-4 {
  padding: 9px 13px 7px 13px;
  border-radius: 10px;
  border: none;
}
.web-button-1 {
  background-color: #ff3f4c;
  color: white;
  font-weight: bold;
}
.web-button-2 {
  background-color: #30b490;
  color: white;
  font-weight: bold;
}
.web-button-3 {
  background-color: #f49229;
  color: white;
  font-weight: bold;
}
.web-button-4 {
  background-color: #5c52b5;
  color: white;
  font-weight: bold;
}
.web {
  font-weight: bold;
  color: #838588;
}
.third-section {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8rem;
  margin-top: 50px;
}
.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.content-1 p {
  margin-top: 20px;
  font-size: 1.3rem;
  color: #838588;
}
.contents img {
  height: 30px;
  width: auto;
}
.benefits {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}
